body {
  text-align: center;
  background-color: #f5e8df;
  color: #103e56;
}

.header {
    background-color: #E8D3C6;
    color: #103e56;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tag {
    flex-grow: 2;
}
.header-button {
    height: 50px;
    width: 50px;
    margin: 20px;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
}

.logo {
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 50%;
}

.profile-pic {
    border-radius: 50%;
    font-size: 20px !important; 
}