<div class="header">
    <img class="logoNav" src="../images/ProcrastiNot_fullLogo3x.png" alt="logo goes here" />
    <h2 class="tag">A Students Bridge to Success</h2>

    <a href="/add" class="header-button" > &#43; </a>
    <a href="/profile" class="header-button"> <i class="far fa-bell"></i>  </a>
    <!-- &#x1f514; -->
    <a href="/dashboard" class={`header-button profile-picture`}>
        <img class="profile-pic" src="../images/technoturners_icon.png" alt="profile picture" />
    </a>
</div>