<div class="header">
    <img class="logo" src="logo.png" alt="logo goes here" />
    <h2 class="tag">A Students Bridge to Success</h2>

    <a href="" class="header-button" > &#43; </a>
    <a href="" class="header-button">&#x1f514;</a>
    <a href="" class={`header-button profile-picture`}><img src="prof.jpg" alt="profile picture" /></a>
</div>