<%- include('partials/header') %>

<div class="profile-container">
<div class="panel">
    <img class="logo" src="/images/ProcrastiNot_pink.png" alt="logo " />
</div>

<div class="profile-content">

    <div class="header">
        <h2 class="tag">A Students Bridge to Success</h2>
    
        <a href="/add" class="header-button" > + </a>
        <!--  &#43; -->
        <a href="/dashboard" class={`header-button profile-picture`}><img class="profile-pic" src="../images/technoturners_icon.png" alt="profile picture" /></a>
    </div>

    <div class="row settings-container">

    <div class="info col-lg-4">

        <form id="settings">
            <h2>Account</h2>
            <br>
            <label for="name">Name:</label>
            <input type="text" placeholder="name" name="name"/>
            <br>
            <label for="email">Email:</label>
            <input type="text" placeholder="email" name="email" />
            <br>
            <label for="discord">Discord ID:</label>
            <input type="text" placeholder="discord" name="discord" />
            <br>
            <br>
            <h2>Settings</h2>
            <label for="calendar"> Calendar:</label>
            <select name="calendar">
                <option value="personal">Personal</option>
                <option value="work">Work</option>
                <option value="school">School</option>
            </select>
            <br>
            <label for="wakeup">Wake up:</label>
            <input type="time" name="wakeup">
            <br>
            <label for="bedtime">Bedtime:</label>
            <input type="time" name="bedtime">
        </form>

    </div>

    <div class="discord col">
        <h4>Add ProcrastiNot to your Discord server and get Notifications + add events!</h4>
        <a href="https://discord.com/oauth2/authorize?client_id=881180662642655242&scope=bot&permissions=519232"> <button type="button" class="btn invite">Invite</button> </a>
        
    </div>

</div>
</div>
</div>
<%- include('partials/footer') %>