body {
    text-align: center;
    background-color: #f5e8df;
    color: #103e56;
  }
  
  h1 {
      font-family: Barlow;
      font-weight: 600;
  }
  
  .header {
      background-color: #E8D3C6;
      color: #103e56;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  
  .tag {
      flex-grow: 2;
  }
  .header-button {
      height: 50px;
      width: 50px;
      margin: 20px;
      font-size: 50px;
      text-decoration: none;
      margin-bottom: 50px;
  }
  
  .logo {
      height: 110px;
      width: auto;
      margin: 20px;
  }

  .logoNav {
    height: 80px;
    width: 30%;
    border-radius: 50%;
}
  
  .profile-pic {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      /* font-size: 20px !important;  */
  }

  .panel {
      background-color: #103e56;
   
  }

  .profile-content {
    flex-grow: 2;
  }
  .profile-container {
      display: flex;
      flex-direction: row;
  }

  .settings-container {
      display: flex;
      flex-direction: row;
      padding: 14% 5% 13% 5%;
  }


  .info {
      text-align: left;
      padding-left: 3%;
  }

  .discord {
      padding: 10%;
      text-align: center;
      background-color: #edb4bd;
  }

  .calendar {
      padding-top: 5%;
  }

  .invite {
      background-color: #ba6c45;
      color: white;
  }

  .discard {
      background-color: #103e56;
      color: #E8D3C6;
  }

  .add {
    background-color: #ba6c45;
    color: #E8D3C6;
}

  .add-header {
      background-color: #103e56;
      color: #edb4bd;
  }

  .star-widget label{
    font-size: 40px;
    color: #103e56;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  }
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #ba6c45;
}
input:checked ~ label{
  color: #ba6c45;
}