<%- include('partials/header') %>
<h1>ProcrastiNot Scheduler</h1>
<div className="login-button" >
    <button className="login">Put google login here</button>
</div>

<%- include('partials/footer') %>