<%- include('partials/header') %>

<div class="panel">
    <img class="logo" src="logo.png" alt="logo goes here" />
</div>

<div class="profile-content">
    <div class="header">
        <h2 class="tag">Taking the mental work out of scheduling</h2>
    
        <a href="" class="header-button" > &#43; </a>
        <a href="" class="header-button">&#x1f514;</a>
        <a href="" class={`header-button profile-picture`}><img src="prof.jpg" alt="profile picture" /></a>
    </div>
    <div class="info">

    </div>
    <div class="discord">
        
    </div>
</div>

<%- include('partials/footer') %>